node_modules/

# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

src/*.js

#dotenv
.env

#runtime environmental configuration files
config.json


#runtime env config
.runtimeConfig.json


# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

serviceAccountKey.*
package-lock.*

# macOs DS files
*.DS_Store